:root {
  --heading-font-family: "Playfair Display", serif;
  --content-font-family: "Poppins", sans-serif;
  --seconday-color: #272142;
  --button-color: #6c63ff;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
}
h2 {
  font-family: var(--content-font-family);
  color: var(--seconday-color);
  font-weight: bold;
  text-align: left;
}
h3 {
  font-family: var(--content-font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--seconday-color);
}
.hero {
  padding: 160px 20px;
  background-color: #f9f7fe;
}
.branded-btn {
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  font-family: var(--content-font-family);
  border-color: var(--button-color);
}
.secondary-branded-btn {
  border-color: var(--button-color);
  background-color: white;
  color: var(--button-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 16px;
  font-family: var(--content-font-family);
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
.text-between {
  font-family: var(--content-font-family);
  font-size: 18px;
  margin-top: 127px;
  margin-bottom: 82px;
}
.text-container {
  margin-left: 24px;
}
.hero .buttons {
  text-align: center;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--content-font-family);
}
.buttons {
  text-align: start;
}
.project-description {
  text-align: start;
}
.about-pic {
  border-radius: 16px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content p {
  font-size: 14px;
}
.content-container h3 {
  font-weight: bold;
  font-size: 24px;
}
.content-container h1 {
  font-size: 64px;
}
p {
  text-align: start;
  font-family: var(--content-font-family);
  font-size: 16px;
  color: rgb(33, 37, 41);
  line-height: 30px;
}
.content-container .buttons {
  text-align: start;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: var(--content-font-family);
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  color: #272142;
}
nav a:hover,
nav .active a {
  color: var(--button-color);
}
@media (max-width: 570px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .hero p {
    font-size: 26px;
    font-weight: bold;
    font-family: var(--content-font-family);
    margin-bottom: 0;
  }
  .text-container {
    margin-left: 0;
  }
  .text-between {
    font-size: 14px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .buttons {
    text-align: center;
  }
  .project-description {
    text-align: center;
  }
  .content-container h1 {
    font-size: 48px;
  }
  .content-container {
    padding: 70px 20px;
  }
  .content-container p {
    text-align: center;
  }
  .content-container .buttons {
    text-align: center;
  }
  nav a {
    font-size: 12px;
  }
}
